# imageio
# Numba versions older than 0.53.0 don't work with CUDA 11.2
# https://github.com/numba/numba/pull/6661
# https://gitter.im/numba/numba?at=5fdb12b26800ee4013441e33
numba>=0.33.0
numpy>=1.12.1
pyqtgraph>=0.10.0
PySide2
#TODO: the latest scipy versions (at least 1.5.4) don't work due to the missing imsave
scipy>=0.19.0
