# imageio
# Numba versions older than 0.53.0 don't work with CUDA 11.2
# https://github.com/numba/numba/pull/6661
# https://gitter.im/numba/numba?at=5fdb12b26800ee4013441e33
imageio >= 2.9.0
# For CUDA 11.2
# numba >= 0.53.0rc1
numba >= 0.52.0
numpy >= 1.20.0
pyqtgraph >= 0.11.1
PySide6 >= 6.3.0
scipy >= 1.6.0
